 <%= simple_form_for [@cocktail] do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.button :submit %>

  <% end %>
<p class="btn btn-ghost mt-3" ><%= link_to "Back to home", cocktails_path%></p>
