 <%= simple_form_for [@cocktail] do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>

  <% end %>
<p class=" mt-3" id="menu"> <li><a> <%= link_to "Back to home", root_path%>  </a></li></p>



