<h3>Add ingredients</h3>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: 'Quantity' %>
  <%= f.association :ingredient %>
  <%= f.button :submit %>
<% end %>

<p class="btn btn-ghost" ><%= link_to "Back to home", root_path%></p>
